@model IEnumerable<Difficulty_Learning.Models.User_Type>

@{
    ViewData["Title"] = "Index";
}

<h1>Type Users</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserType_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserType_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserType_ID }, htmlAttributes: new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.UserType_ID }, htmlAttributes: new { @class = "btn btn-info" })
            </td>
        </tr>
}
    </tbody>
</table>
